<h1 class="titulo">NINGUNA VIDA IMPORTA MÁS QUE OTRA</h1>

<div class="quienesSomos">
    <p>En SeaSaver, nos dedicamos a salvar vidas en el mar. Nuestro equipo de profesionales y voluntarios trabaja incansablemente para realizar operaciones de rescate, brindar asistencia humanitaria y proteger a quienes se encuentran en situaciones de peligro en aguas abiertas.<br><br>Además, promovemos la concienciación sobre la seguridad marítima y colaboramos con comunidades locales y organismos internacionales para garantizar un impacto positivo y duradero. ¡Juntos hacemos del mar un lugar más seguro!</p>
    <img src="./../../assets/img/nosotros.webp">
</div>

<h1 class="titulo" style="margin-bottom: 70px;">¿Qué hacemos?</h1>

<div class="seccion2">
    <h2>Operaciones de rescate marítimo</h2>
    <p>Brindamos asistencia a embarcaciones en peligro y salvamos vidas en situaciones de emergencia</p>
    <img src="./../../assets/img/rescate.jpg">
</div>

<div class="seccion3">
    <img src="./../../assets/img/rescate.jpg">
    <div>
        <h2>Educación y prevención</h2>
        <p>Impartimos talleres y campañas de concienciación sobre seguridad en el mar</p>
    </div>
</div>