<label for="">dni</label><br>
<input type="text" required><br>
<input type="text" placeholder="nombre" required>
<input type="text" required placeholder="apellido"><br>
<input type="text" placeholder="correoe lectronico"><br>
<label for="">metodo de donacion</label><br>
<input type="radio" name="metodo" value="credito o devito">tarjeta de credito o devito<br>
<input type="radio" name="metodo" value="offline">offline<br>
<input type="radio" name="metodo" value="paypal">paypal<br>
<label for="">cantidad</label><br>
<input type="number" min="5">€<br>
<input type="submit" value="donar">