<nav>
    <img src="./../../assets/img/SeaSaverLogoWhite.png" alt="" routerLink="">
    <div>
        <a class="linkImportante" routerLink="/tienda"><i class="ri-shopping-bag-fill"></i> Tienda</a>
        <a class="linkImportante" routerLink="/donar"><i class="ri-service-fill"></i> Donar</a>
        <!--Estos dos iconos aparecen o se renderizan dependiendo del booleano "abierto"-->
        <i (click)="abrirMenu()" *ngIf="!abierto" class="ri-menu-2-line clickIcono"></i>
        <i (click)="cerrarMenu()" *ngIf="abierto" class="ri-close-line clickIcono"></i>
    </div>
</nav>
<!--El id del menu desplazable depende del booleano "abierto"-->
<ul [id]="abierto ? 'abrirMenu' : ''" class="menuDesplegable">
    <li class="menuLinkImportante"><a routerLink="/donar"><i class="ri-service-fill"></i> Donar</a></li>
    <li class="menuLinkImportante"><a routerLink="/tienda"><i class="ri-shopping-bag-fill"></i> Tienda</a></li>
    <li><a routerLink="/buscar"><i class="ri-search-line"></i> Buscar rescatados</a></li>
    <li><a routerLink="/nosotros"><i class="ri-information-2-line"></i> Sobre nosotros</a></li>
    <li><a routerLink="/signin"><i class="ri-user-line"></i> Iniciar sesión</a></li>
</ul>