@import "./../../colores";

*{
    padding: 0;
    margin: 0;
}

a{
    all: unset;
}

nav{
    width: 100%;
    height: 80px;
    background-color: $azulOscuro;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;

    & div{
        height: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

.logo{
    height: 100%;

    & img{
        height: 100%;
        width: 100%;
    }
}

.menuDesplegable{
    position: fixed;
    top: 0;
    padding-top: 80px;
    right: -100%;
    background-color: $azulOscuro;
    width: 30%;
    list-style: none;
    height: 100dvh;
    transition: ease .5s;
    z-index: 999999;
    overflow: hidden;
    color: white;

    & li{
        width: 100%;
        padding: 10px 10px;
        cursor: pointer;
        transition: ease .2s;
        position: relative;

        &::before{
            content: "";
            width: 0%;
            height: 100%;
            background-color: #cbcbcb51;
            position: absolute;
            top: 0;
            left: 0;
            transition: ease .3s;
            z-index: -1;
        }

        &:hover{
            
            &::before{
                width: 100%;
            }
        }

        & a{
            font-size: 25px;
            width: 100%;
        }
    }
}

.linkImportante{
    all: unset;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    background-color: $rojo;
    transition: ease .2s;

    &:hover{
        background-color: $rojoOscuro;
    }
}

.menuLinkImportante{
    display: none;
}

.clickIcono{
    font-size: 36px;
    cursor: pointer;
}

#abrirMenu{
    right: 0;
}

@media (width < 900px){
    .menuDesplegable{
        width: 50%;
    }
}

@media (width < 600px){

    nav{
        padding: 5px 10px;
    }

    .logo{
        height: 80%;
    }

    .menuDesplegable{
        width: 100%;
        height: fit-content;
        right: 0;
        top: -100%;

        & li > a{
            font-size: 22px;
        }
    }

    #abrirMenu{
        top: 0;
    }
}

@media (width < 500px){

    .linkImportante{
        display: none;
    }

    .menuDesplegable{

        & li > a{
            font-size: 20px;
        }
    }

    .menuLinkImportante{
        display: block;
    }

}