<main>
    <form>
        <h2 class="loginTitulo">Acceder</h2>
        <div class="form-group">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" id="usuario" autocomplete="off" #usuario>
        </div>
        <div class="form-group">
            <label for="passwd">Contraseña</label>
            <input type="password" id="password" autocomplete="off" #password>
        </div>
        <p class="errorMensaje"></p>
        <button type="submit">Acceso</button>
    </form>
</main>

<div class="seccion">
    <img class="seccionFoto" src="./../../assets/img/fotoinicio2.jpeg" alt="">      
    <div>
        <h1 class="tituloInicio">¿Cómo ayudar?</h1>
        <p class="textoDescriptivo">Cada aporte cuenta para salvar vidas en el mar. Puedes apoyarnos de varias formas:<br><br>
            🌊 Donaciones: Contribuye económicamente para financiar equipos, combustible y operaciones de rescate.<br>
            🌊 Voluntariado: Únete a nuestro equipo y sé parte de las misiones de salvamento.<br>
            🌊 Difusión: Comparte nuestra misión en redes sociales para que más personas puedan ayudarnos.<br><br>
            
            ¡Juntos podemos marcar la diferencia!</p>
        <a class="linkInicio" routerLink="/donar">Donar</a>
    </div>
</div>