
<h1 class="tituloTienda">Estilo sin Fronteras</h1>

<div class="productos">
    <div>
        <a routerLink="/tienda/camisetas">
            <img src="../../assets/img/camiseta.webp" alt="">
            <p>camisetas</p>
        </a>
    </div>
    <div>
        <a routerLink="/tienda/sudaderas">
            <img src="../../assets/img/sudadera1.webp" alt="">
            <p>sudaderas</p>
        </a>
    </div>
    <div>
        <a routerLink="/tienda/otros">
            <img src="../../assets/img/boli.webp" alt="">
            <p>otros</p>
        </a>
    </div>
</div>
<router-outlet></router-outlet>

<div class="seccion">
    <img class="seccionFoto" src="./../../assets/img/fotoinicio2.jpeg" alt="">      
    <div>
        <h1 class="tituloInicio">¿Cómo ayudar?</h1>
        <p class="textoDescriptivo">Cada aporte cuenta para salvar vidas en el mar. Puedes apoyarnos de varias formas:<br><br>
            🌊 Donaciones: Contribuye económicamente para financiar equipos, combustible y operaciones de rescate.<br>
            🌊 Voluntariado: Únete a nuestro equipo y sé parte de las misiones de salvamento.<br>
            🌊 Difusión: Comparte nuestra misión en redes sociales para que más personas puedan ayudarnos.<br><br>
            
            ¡Juntos podemos marcar la diferencia!</p>
        <a class="linkInicio" routerLink="/donar">Donar</a>
    </div>
</div>