
<div class="rescatadosGrid">
    <div>
        <a href="" routerLink="/tienda/camisetas">
            <img src="../../assets/img/camiseta.webp" alt="">
            <p>camisetas</p>
        </a>
    </div>
    <div>
        <a href="" routerLink="/tienda/sudaderas">
            <img src="../../assets/img/sudadera1.webp" alt="">
            <p>sudaderas</p>
        </a>
    </div>
    <div>
        <a href="" routerLink="/tienda/otros">
            <img src="../../assets/img/boli.webp" alt="">
            <p>otros</p>
        </a>
    </div>
</div>
<router-outlet></router-outlet>