form<label>nombre </label>
<input type="text" id="nombre" #nombreInput (input)="filtrarNombre(nombreInput.value)">
<label>edad </label>
<input type="number" name="edad" min="10" max="100" #edadInput (input)="filtraredad(edadInput.value)" >
<label>sexo </label>
<select id="cars" name="cars" #sexoInput (input)="filtrarsexo(sexoInput.value)">
    <option value="todos">todos</option>
    <option value="H">hombre</option>
    <option value="F">mujer</option>
  </select>
<div class="rescatadosGrid">
    <div *ngFor="let persona of rescatadosFiltrados" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{persona.nombre}}</h5>
            <p class="card-text">{{persona.precio}}</p>
        </div>
    </div>
</div>
<h1 *ngIf="rescatadosFiltrados.length == 0">No hay rescatados</h1>
