<div class="banner">
    <video src="./../../assets/video/bannerVideo.mp4" autoplay oncanplay="this.play()" muted onloadedmetadata="this.muted = true" loop playsInline class="videoBanner"></video>
    <div class="lema">
        <h1>NINGUNA VIDA IMPORTA MÁS QUE OTRA</h1>
        <h3>Artículo 13 de los Derechos Humanos Universales</h3>
        <p>Toda persona tiene derecho a circular libremente y a elegir su residencia en el territorio de un Estado, y toda persona tiene derecho a salir de cualquier país, incluso del propio, y a regresar.</p>
    </div>
</div>

<ngb-carousel>
    <ng-template ngbSlide *ngFor="let noticias of rescates">
        <div class="carouselfoto">
            <img  src="../../assets/img/{{noticias.img}}" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>{{noticias.titulo}}</h3>
            <p>{{noticias.descripsion}}</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="seccion">
    <div>
        <h1 class="tituloInicio">¿Qué hacemos?</h1>
        <p class="textoDescriptivo">En SeaSaver, nos dedicamos a salvar vidas en el mar. Nuestro equipo de profesionales y voluntarios trabaja incansablemente para realizar operaciones de rescate, brindar asistencia humanitaria y proteger a quienes se encuentran en situaciones de peligro en aguas abiertas.<br><br>Además, promovemos la concienciación sobre la seguridad marítima y colaboramos con comunidades locales y organismos internacionales para garantizar un impacto positivo y duradero. ¡Juntos hacemos del mar un lugar más seguro!</p>
        <a class="linkInicio">Quienes Somos</a>
    </div>
    <img class="seccionFoto" src="./../../assets/img/fotoinicio1.jpg" alt="">
</div>

<section>
    <div class="seccion">
        <img class="seccionFoto" src="./../../assets/img/fotoinicio2.jpeg" alt="">      
        <div>
            <h1 class="tituloInicio">¿Cómo ayudar?</h1>
            <p class="textoDescriptivo">Cada aporte cuenta para salvar vidas en el mar. Puedes apoyarnos de varias formas:<br><br>
                🌊 Donaciones: Contribuye económicamente para financiar equipos, combustible y operaciones de rescate.<br>
                🌊 Voluntariado: Únete a nuestro equipo y sé parte de las misiones de salvamento.<br>
                🌊 Difusión: Comparte nuestra misión en redes sociales para que más personas puedan ayudarnos.<br><br>
                
                ¡Juntos podemos marcar la diferencia!</p>
            <a class="linkInicio">Donar</a>
        </div>
    </div>
    <div class="seccion">
        <div>
            <h1 class="tituloInicio">Nuestros productos</h1>
            <p class="textoDescriptivo">Apoya nuestra misión adquiriendo productos de nuestra tienda solidaria. Cada compra nos ayuda a financiar operaciones de rescate, adquirir equipos y seguir salvando vidas en el mar.<br><br>

                🌟 Encuentra artículos exclusivos como camisetas, tazas y accesorios, diseñados para amantes del mar y quienes apoyan nuestra causa.<br><br>
                
                Haz tu compra y sé parte del cambio. ¡Gracias por ayudarnos a hacer la diferencia!</p>
            <a class="linkInicio">Ir a la tienda</a>
        </div>
        <img class="seccionFoto" src="./../../assets/img/fotoinicio3.webp" alt="">      
    </div>
</section>

<div class="dudas">
    <h1 class="tituloInicio">¿Tienes dudas?</h1>
    <p class="textoDescriptivo">Si estás buscando información sobre un rescate o necesitas verificar si una persona ha sido rescatada, ponemos a tu disposición nuestra página de consulta. Allí podrás buscar fácilmente entre los registros y obtener respuestas rápidas.<br><br>

        🔎 <b>Consulta el estado de un rescatado:</b><br>
        Accede a nuestra plataforma segura para realizar búsquedas específicas y obtener detalles actualizados.<br><br>
        
        Tu tranquilidad es nuestra prioridad.</p>
    <a class="linkInicio">Buscar rescatado</a>
</div>